<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>IRWW - 개발자 커뮤니티</h1>
        <h3>I did it right, why is this not working?</h3>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>조회수</th>
                    <th>등록일</th>
                    <th style="visibility:hidden;position:absolute;"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="qna:${qnas}">
                    <td><a th:href="@{/page/questionDetail(linkId=${linkId}, questionId=${qna.questionId})}" th:text="${qna.questionTitle}"></a></td>
                    <td th:text="${qna.nickName}"></td>
                    <td th:text="${qna.views}"></td>
                    <td th:text="${qna.regDttm}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <input type="button" value="등록"  th:onclick="'location.href=\'' + @{/page/registration(linkId=${linkId}, idUser=${idUser})} + '\''"/>
    </div>
</div> <!-- /container -->
</body>
</html>