<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>IRWW - 개발자 커뮤니티</h1>
        <h3>I did it right, why is this not working?</h3>
        <h3>상세페이지</h3>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>조회수</th>
                    <th>등록일</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${questionDetail.questionTitle}"></td>
                    <td th:text="${questionDetail.nickName}"></td>
                    <td th:text="${questionDetail.views}"></td>
                    <td th:text="${questionDetail.regDttm}"></td>
                </tr>
            </tbody>
        </table>
        <form th:action="@{/page/updQuestion(linkId=${linkId}, questionId=${questionId}, idUser=${idUser})}" method="post">
            <label for="description"></label>
            <textarea id="description" name="description" th:text="${questionDetail.description}"></textarea><br>
            <button type="submit" id="btnUpd">수정</button>
        </form>
    </div>
    <div>
        <input type="button" value="삭제"  th:onclick="'location.href=\'' + @{/page/delQuestion(linkId=${linkId}, questionId=${questionId}, idUser=${idUser})} + '\''"/>
    </div>
    <div>
        <h3>댓글</h3>
        <table>
            <tbody>
            <tr th:each="reply:${replies}">
                <td th:text="${reply.replyDescription}"></td>
                <td th:text="${reply.nickName}"></td>
                <td th:text="${reply.regDttm}"></td>
                <td><input type="button" value="삭제" th:onclick="'location.href=\'' + @{/page/delReply(linkId=${linkId}, questionId=${questionId}, idUser=${idUser}, replyId=${reply.replyId})} + '\''"/></td>
            </tr>
            </tbody>
        </table>
        <form  th:action="@{/page/registration/reply(linkId=${linkId}, questionId=${questionId}, idUser=${idUser})}" method="post">
            <label for="replyDescription"></label>
            <input type="text" id="replyDescription" name="replyDescription" placeholder="내용을 입력하세요" />
            <button type="submit" id="btnSave">등록</button>
        </form>
    </div>
</div> <!-- /container -->
</body>
</html>