<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>IRWW - 개발자 커뮤니티</h1>
        <h3>I did it right, why is this not working?</h3>
        <p>로그인</p>
        <form action="/page/mainPage" method="post" id="loginForm">
            <div class="form-group">
                <label for="email">아이디(E-mail)</label>
                <input type="text" id="email" name="email" placeholder="E-mail">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" id="btnLogin">로그인</button>
        </form>
        <input type="button" value="회원가입" onclick="location.href='/join'"/>
    </div>
</div> <!-- /container -->
</body>
</html>